src/main/resources/META-INF/mybatis3-table-mapper-gen.dtd

<?xml version="1.0" encoding="UTF-8" ?>

<!ELEMENT mybatis ( insert* | update* | delete* | select* )+>
<!ATTLIST mybatis
        table CDATA #REQUIRED
        scheme CDATA #IMPLIED
        >

<!ELEMENT columns (alias,append)?>
<!ATTLIST columns
        scope (all | auto) #IMPLIED
        tableAlias CDATA #IMPLIED
        includeColumns CDATA #IMPLIED
        excludeColumns CDATA #IMPLIED
        >

<!ELEMENT append (alias)?>
<!ATTLIST append
        table CDATA #REQUIRED
        tableAlias CDATA #REQUIRED
        includeColumns CDATA #IMPLIED
        excludeColumns CDATA #IMPLIED
        >

<!ELEMENT alias EMPTY>
<!ATTLIST alias
        column CDATA #REQUIRED
        as CDATA #REQUIRED
        >

<!ELEMENT parameters (param+)?>

<!ELEMENT param EMPTY>
<!ATTLIST param
        name CDATA #REQUIRED
        type CDATA #REQUIRED
        multi (true | false) CDATA #IMPLIED
        >

<!ELEMENT select (#PCDATA | trim | where | set | foreach | choose | if | bind | parameters | columns)*>
<!ATTLIST select
        id CDATA #REQUIRED
        parameterType CDATA #IMPLIED
        resultType CDATA #IMPLIED
        multi (true | false) #IMPLIED
        statementType (STATEMENT|PREPARED|CALLABLE) #IMPLIED
        >

<!ELEMENT insert (#PCDATA | selectKey | trim | where | set | foreach | choose | if | bind | parameters | columns)*>
<!ATTLIST insert
        id CDATA #REQUIRED
        parameterType CDATA #IMPLIED
        keyProperty CDATA #IMPLIED
        useGeneratedKeys (true|false) #IMPLIED
        keyColumn CDATA #IMPLIED
        autoGen (true|false) #IMPLIED
        statementType (STATEMENT|PREPARED|CALLABLE) #IMPLIED
        >

<!ELEMENT selectKey (#PCDATA | trim | where | set | foreach | choose | if | bind)*>
<!ATTLIST selectKey
        resultType CDATA #IMPLIED
        keyProperty CDATA #IMPLIED
        keyColumn CDATA #IMPLIED
        order (BEFORE|AFTER) #IMPLIED
        >

<!ELEMENT update (#PCDATA | selectKey | trim | where | set | foreach | choose | if | bind | parameters | columns)*>
<!ATTLIST update
        id CDATA #REQUIRED
        parameterType CDATA #IMPLIED
        keyProperty CDATA #IMPLIED
        useGeneratedKeys (true|false) #IMPLIED
        keyColumn CDATA #IMPLIED
        statementType (STATEMENT|PREPARED|CALLABLE) #IMPLIED
        >

<!ELEMENT delete (#PCDATA | trim | where | set | foreach | choose | if | bind | parameters)*>
<!ATTLIST delete
        id CDATA #REQUIRED
        parameterType CDATA #IMPLIED
        statementType (STATEMENT|PREPARED|CALLABLE) #IMPLIED
        >

<!-- Dynamic -->
<!ELEMENT bind EMPTY>
<!ATTLIST bind
        name CDATA #REQUIRED
        value CDATA #REQUIRED
        >

<!ELEMENT trim (#PCDATA | trim | where | set | foreach | choose | if | bind)*>
<!ATTLIST trim
        prefix CDATA #IMPLIED
        prefixOverrides CDATA #IMPLIED
        suffix CDATA #IMPLIED
        suffixOverrides CDATA #IMPLIED
        >
<!ELEMENT where (#PCDATA | trim | where | set | foreach | choose | if | bind)*>

<!ELEMENT set (#PCDATA | trim | where | set | foreach | choose | if | bind)*>

<!ELEMENT foreach (#PCDATA | trim | where | set | foreach | choose | if | bind)*>
<!ATTLIST foreach
        collection CDATA #REQUIRED
        item CDATA #IMPLIED
        index CDATA #IMPLIED
        open CDATA #IMPLIED
        close CDATA #IMPLIED
        separator CDATA #IMPLIED
        >

<!ELEMENT choose (when* , otherwise?)>

<!ELEMENT when (#PCDATA | trim | where | set | foreach | choose | if | bind)*>
<!ATTLIST when
        test CDATA #REQUIRED
        >

<!ELEMENT otherwise (#PCDATA | trim | where | set | foreach | choose | if | bind)*>

<!ELEMENT if (#PCDATA | trim | where | set | foreach | choose | if | bind)*>
<!ATTLIST if
        test CDATA #REQUIRED
        >


